[2015-07-22 10:05] jrean opened #1 "Custom View"
Hi,

First let me say congratulation for that package! Well done!!

I published the vendor view and I try to simply override the `confirmButtonColor` option.
So by default your view is as following:

[code]

I tried several time but...

[code]

The problem is I loose the context `->persistent()` or `->autoclose()` for `showConfirmButton`, it displays the button when it should not because I can't p

[2015-07-22 17:51] uxweb commented on #1
Thank you so much for being interested in this package.

I left out some options to configure the js sweet alert function.

I think those options are more related to be set from the frontend part, like the color of the button and such.

The current options the package puts into the session are these:
- text
- type
- title
- confirmButtonText
- showConfirmButton
- allowOutsideClick
- timer

If you

[2015-07-22 17:57] jrean commented on #1
Awesome! Smart!
I totally agree with you to not add the color option available trough the Facade or the helper. It would become coupled as you mentioned.

Nothing more, your answer and what you provided as code sample is just awesome!

I'll try to submit a PR tomorow for the documentation to include some details I think could be useful.

Thank you :)

[2015-07-24 00:15] #1 closed, assigned to nobody

[2015-07-28 03:41] jrean opened #4 "Proposal"
Hi,

Do you think you could add a new method `alert()->newMethod('Message', 'title');`?

This method will behave just like other but with NO icon (info ; success ; error). Just a title and a message.

Regards,

[2015-07-30 01:40] uxweb commented on #4
Thanks!, i'm working on change the current api for a new one to allow this.

[2015-08-01 16:00] uxweb commented on #4
Just released the new version with a change that solves this!.

Hope this will be useful to you

Thanks for contributing!

[2015-08-01 16:00] #4 closed, assigned to uxweb

[2015-08-05 07:07] jrean commented on #4
Awesome @uxweb!
:)

[2015-08-26 05:46] azulkipli opened #10 "No confirmation method?"
Please add this feature

thanks

[2015-08-27 04:50] uxweb commented on #10
@azulkipli Hi, as the confirm feature from sweet alert js library requires a javascript callback which will be strange to pass from the php backend, i think this feature could be implemented by publishing the included view and add your custom callback (maybe one that does an ajax request).

Current functionality will only achieve displaying alert messages after an action has happened in the backed

[2015-08-27 06:22] azulkipli commented on #10
ok thanks

[2015-08-27 15:36] #10 closed, assigned to nobody

[2015-11-12 11:04] marioene opened #12 "send customize parameters from Laravel controller"
Hi,
First, great component! :)

I'm using your custom view ("uxweb/sweet-alert": "~1.1"):

[code]

How can I send parameters from my controller to change, for example, Session::get('sweet_alert.showConfirmButton') parameter?

I was trying with the code bellow, but is not working:

[code]

[2015-11-12 11:11] marioene opened #13 "Call action from Controller after Confirm in alert"
Hi,
First, great component! :)

In your custom view  ("uxweb/sweet-alert": "~1.1"):

[code]

I want to implement (after  // more options):

[code]

How can I call an action from Controller after isConfirm?

[2015-11-24 01:32] uxweb commented on #13
Hi @marioene

You can do that by overriding the package view :).

Just run:

[code]

And read the customization section: https://github.com/uxweb/sweet-alert#customize

If you have any question, please reply!

Thank you!

[2015-11-24 01:41] uxweb commented on #13
Currently this package only implements the alert part of sweet alert.

If you need to use the confirmation feature, you can by using the sweet alert javascript library.

As confirmation happens first in the frontend, the package can't do that, it just can alert after a request has happened.

[2015-12-10 08:42] aketai opened #14 "Class 'App\Http\Controllers\Alert' not found"
Class 'App\Http\Controllers\Alert' not found

[2015-12-10 10:38] aketai commented on #14
Sorry forgot add 'use Alert;'

[2015-12-10 12:20] aketai opened #16 "How localize?"
Please advice, how to localize alert messages?

[2015-12-15 22:07] uxweb commented on #14
No problem! :)

[2015-12-15 22:07] #14 closed, assigned to nobody

[2015-12-15 22:11] uxweb commented on #16
@aketai  As messages are sent from the backend, you can do like:

[code]

That way the messages are translated and sweet alert will show them :)

[2015-12-22 05:11] uxweb commented on #12
Hi @marioene , Thanks!!

I don't understand very well what you are trying to do, can you elaborate more on this? :)

[2015-12-22 07:30] marioene commented on #12
@uxweb
When I click confirmButton.. to call, for example, Delete method from my Controller
When I click Cancel ... to cancel

Can I call method through ajax in this section?

[code]

?

[2016-01-03 16:03] uxweb commented on #12
Sure, you can put there any code you need :)

[2016-01-19 15:55] #16 closed, assigned to nobody

[2016-01-19 15:55] #12 closed, assigned to nobody

[2016-01-19 15:55] #13 closed, assigned to nobody

[2016-03-03 10:38] khanrn opened #19 "Confirmation Message With Sweet Alert."
I think "Confirmation" ( Like on delete something ) message with "Sweetalert" is not included in this package, right ? If this is included can you please tell how to use them ?

[2016-03-08 06:03] uxweb commented on #19
Hi @rnaby , yes, it is not included because of this #13 :), hope it helps.

If you have a nice way to include it please feel free to make a PR! :)

[2016-03-24 04:33] izcream opened #21 "prevent show when user press back button in browser?"
I use this package in my projects and i found some problem, ex: when i created some product success alert will show. it's work correcty but when i go to create product page again and press back to previous page alert will show up again. how to resolve that?

ps.sorry for my bad english

[2016-03-31 14:16] jolusadev commented on #21
I have the same problem. When I press the back button without edit some item I get the sweetalert.

[2016-04-02 04:14] #19 closed, assigned to nobody

[2016-04-02 04:21] uxweb commented on #21
@izcream @jolusadev Hi, this is related to how the data is passed to the laravel session driver.

A way to solve this is by forget the message after displaying it:

[code]

[2016-04-02 16:15] jolusadev commented on #21
Thanks for your anwser. That code not work for me. I think is a navigator cache problem with sessions.

[2016-05-01 14:44] izcream commented on #21
i tried that code but isn't work for me too.

[2016-05-12 18:41] design-class commented on #21
Try reload page when alert window closes
For example
 swal({...})
 .then(function(){
    window.location.reload(window.location.href);
});

[2016-05-14 00:26] NumericFactory opened #22 "Facade Alert not found"
On Laravel 5.2
First, I installed sweet-alert via composer and add line to providers and aliases in config/app.php
And, I do this in my controller :
`public function update($id, Request $request) {
    $place = Place::findOrfail($id);
    $place->update($request->all());
    $place->activities()->sync($request->get('activities'));
    // \Session::flash('flash_message', 'success !');
     Alert::m

[2016-05-22 11:11] djsigfried56 commented on #22
Hi NumericFactory,

You need to use Alert
So in your controller specify this:
`use Alert;`

Hope this helps
Greetings

[2016-05-29 03:28] uxweb commented on #22
Thanks @djsigfried56 👌

[2016-05-29 03:28] #22 closed, assigned to nobody

[2016-06-13 09:09] ghost opened #24 "Alert on ajax ?"
Hello, Thanks for this awesome package, i have one problem with ajax
how do i display the alert box on ajax request ? it only works when i refresh the browser after ajax request

[2016-06-19 12:26] maximusblade opened #25 "works from routes but not controllers?"
I cant quite figure out why Alert will only work when I test it in Routes.

but when I implement in my controllers I get no response...no error messages.
Is there something I should be aware of that may "unset" the alert session when it redirects between controllers?
would appreciate some insignt

[2016-06-22 00:33] uxweb commented on #25
@maximusblade

Maybe the way you are importing the Facade within the controller?

[code]

[2016-06-22 00:37] uxweb commented on #24
@DeeJaVu

Yes, the package is not designed to work with ajax.

You can show the alert after your ajax request is done by using sweet alert javascript api

[code]

[2016-06-22 00:39] uxweb commented on #21
This is an issue related on how the browser's cache and cookies work, i think is not an issue with Laravel neither the package.

[2016-07-05 10:49] mathieutu opened #26 "Cancel button"
Hi!
It could be pretty cool to add the cancel button, like in this example:

[code]

Or at least, maybe just permit to add some custom fields ?

Thanks !

(If you tell me it will be faster with a PR, I could do it myself, and push it.)

[2016-07-05 11:07] mathieutu opened #27 "ErrorException : "Undefined index: title""
Hi!
Just to tell you that when you use the persistent() options before setting a message (and so a title),
we've got an error:

[code]

Thanks!

[2016-07-08 18:13] gflauder opened #28 "Must always sepecify null in autoclose to have persitnet work?"
Hi,

I seem to require entering a persistent  window like this:
`alert()->warning(trans('surveys.noresponses'), $results['status'])->persistent("OK")->autoclose(null)`

Just entering

`alert()->warning(trans('surveys.noresponses'),$results['status'])->persistent("OK")`

without a autoclose causes the window to  close as soon as it displays even with Persistent on.

Thanks

Gary

[2016-07-10 20:12] uxweb commented on #26
@mathieutu

For sure, you can extend the default blade template for the alert.

Check this section about view customization.

https://github.com/uxweb/sweet-alert#custom-view

[2016-07-10 20:17] uxweb commented on #28
Hi @gflauder

I just checked `alert()->warning(trans('surveys.noresponses'), $results['status'])->persistent("OK")` and it is working as it should. It never autoclose the alert.

Are you customizing the alert blade view?, maybe you added the autoclose option in the customized view?

[2016-07-10 20:22] uxweb commented on #27
@mathieutu

Thanks man, looks like i have to set an empty string as default for the alert title and alert message to prevent this :).

Will be fixed in the next release!

[2016-07-10 20:22] #27 closed, assigned to nobody

[2016-07-10 20:23] #25 closed, assigned to nobody

[2016-07-10 20:23] #24 closed, assigned to nobody

[2016-07-10 20:23] #21 closed, assigned to nobody

[2016-07-11 07:58] mohamamd-chavoshipor commented on #14
not working in alert in redirect()->back();
because working in return view();
why?

[2016-07-11 08:38] mohammad-chavoshipor opened #29 "not working in alert in redirect()"
Hi!
not working in alert in redirect()->back();
because working in return view();
why?
code not working:
`return redirect()->back()`
code working:
`return view('view')`
code alert:
`\Alert::message('Hey!');`
Or:
`alert()->error('Error Message', 'Optional Title');`

[2016-07-13 16:05] uxweb commented on #29
Hi @mohamamd-chavoshipor

I'm doing this test to reproduce your scenario:

[code]

This is the small form in my welcome view:

[code]

And it is working fine!

Could you give more detail about the issue?, Thanks!

[2016-07-15 04:17] kirykr opened #30 "Alerts are not called"
I places "use Alert;" on the top of my UserController.php file
and placed these in the destroy method

[code]
#

They didn't work.. any ideas
Thanks,

[2016-07-17 03:18] wanghanlin commented on #29
It's not working on my side too, and code is same as yours, just some word changes.
my laravel version is v5.2.39

[2016-07-21 16:39] eullercristian commented on #30
I have a same problem, i am using laravel 5.1

[2016-07-21 16:54] eullercristian commented on #30
Its not a problem. I included a css in my template, and its work fine. Thank you.

[2016-07-21 16:54] eullercristian commented on #30
@kirykr please close, this issue.

[2016-07-23 03:21] uxweb commented on #30
Thanks! @eullercristian

[2016-07-23 03:21] #30 closed, assigned to nobody

[2016-07-23 12:26] eullercristian opened #31 "Best Way to get errors Laravel in view partials"
Hi @uxweb its package is very useful, thank you. Did you try to render error of request in view partial? I tried to use, its works, but the same message is showing two times, the first on a get error, the second,  when i change a page. See my code bellow:

`@if($errors->any())
    <?php $error=$errors->all()?>
    <?php alert()->error("".$error[0]."", 'Corrija os erros abaixo')->persistent('Fechar

[2016-07-23 16:35] eullercristian opened #32 "How i pass text html to component"
Hi @uxweb , how i pass code html to component?

Example: ` alert()->success('<ul><li>Some Text</li></ul>', 'Errors');`

Its possible?

Thanks one more time. :)

[2016-07-25 07:27] uxweb commented on #32
Hi @eullercristian ,

Yes, it is possible:

[code]

[2016-07-25 07:33] uxweb commented on #31
@eullercristian

I see, you are calling the alert twice, once inside your controller and again from your view.

That's why it is displaying another alert after you move from the current page.

What are trying to achieve?

[2016-07-25 07:33] #28 closed, assigned to nobody

[2016-07-25 11:35] eullercristian commented on #32
Thanks a lot @uxweb  :)

[2016-08-04 09:10] warmjaijai opened #34 "Unable to use Alert"
Dear Developers,

I try to test out the sweetalert however it doesn't work. Some issues popped up as follows:

route.php
`use Alert;

Route::get('test', function(){
    Alert::message('testing');
});`

when I type use Alert like this it pops that

I am not sure if this is a sign where I install it improperly or what. But when I delete `use Alert;` then refresh the localhost:8000/test page, it is j

[2016-08-04 17:41] uxweb commented on #34
Hi @warmjaijai

Have you added the Alert alias in config/app.php?

[2016-08-05 02:06] eullercristian commented on #32
Sorry for delay in my response @uxweb , today that i got try this function.

See the print, the component not works using html.

`alert()->success('<ul><li>Some Text</li></ul>', `'Errors')->html();`

returns: https://puu.sh/qqgm9/f1833304f4.png

Can you take a look? Thanks one more time.

[2016-08-05 06:26] warmjaijai commented on #34
Yes I have. for both

[code]

and

[code]

[2016-08-05 07:06] warmjaijai commented on #34
on top of that, does this package support composer installation?

[2016-08-10 09:26] jzfan commented on #34
I use laravel 5.2.42, The Alert didn't work!
`public function store(CreateArticle $request)
    {
    	Article::create($request->input());
        Alert::message('Robots are working!');
    	return redirect('/backend/article');
    }`
redirected with no errors, but no alert message.
dont know why.

[2016-08-12 00:50] uxweb commented on #32
@eullercristian Sure, i'm giving it a shot!, thanks!

[2016-08-12 00:56] uxweb commented on #32
uhmmm, that's pretty strange, are you using a custom blade template to show the alert? or are you using the included one?

[2016-08-12 01:09] eullercristian commented on #32
@uxweb  i am pass the code in my template, see the code bellow:

`@if (Session::has('sweet_alert.alert'))
    <script>
      swal({
            text: "{!! session('sweet_alert.text') !!}",
            title: "{!! session('sweet_alert.title')  !!}",
            timer: "{!! session('sweet_alert.timer')  !!}",
            type: "{!! session('sweet_alert.type')  !!}",
            showConfirmButton: "{

[2016-08-12 03:09] uxweb commented on #32
@eullercristian

You're doing everything ok, but to tell swal to display the text as html, you have to pass it an html property:

[code]

That html property is generated by the package when you call the alert()->html() method, you just have to add it to your template.

[2016-08-12 21:58] #31 closed

[2016-08-12 22:01] uxweb commented on #34
@warmjaijai yes, this package supports composer installation.

Did you installed it as shown in the docs?

[2016-08-27 21:01] #34 closed, assigned to nobody

[2016-08-27 21:01] #32 closed

[2016-08-29 01:27] dameety commented on #29
Didn't work for me too, any solution?

[2016-09-04 20:32] illuminate3 opened #36 "where and how do you set the configuration options?"
For example:

[code]

Where do I set this?

I have done:

[code]

Do I just chain?

[code]

[2016-09-12 08:01] tonywong625 commented on #29
Working for me now

need to add to your template

[code]

[2016-09-25 12:52] aescasio opened #37 "Does this work on Laravel 5.3.10"
Good Day,

I would like to ask if this version "uxweb/sweet-alert": "dev-master" works on Laravel 5.3.10?

I follow the instruction here.  However, the alert doesn't show up in my controller store method, just what is showed in documentation.
public function store(CreateTestScaffoldRequest $request)
{
        $input = $request->all();

[code]

}

@ my index.blade.php I also @include('sweet::alert'

[2016-09-25 13:04] aescasio commented on #37
This works on Laravel 5.3.10.

My bad I just call the @include at the wrong location of my index.blade.php.

[2016-09-25 13:04] #37 closed, assigned to nobody

[2016-09-30 05:31] uxweb commented on #37
@devaescasio

Sorry for answer this late,

This package will still working with laravel 5.x until a breaking change arrives or a change on mayor version occurs.

Thanks for contributing, if have more questions please let me know!

[2016-09-30 05:45] uxweb commented on #36
@illuminate3

Sorry to answer this late,

Actually, not all configuration options from the JavaScript sweet alert are available.

The reason for this is that the package only uses sweet alert to display the simplest of alerts

If you call any of the alert messages like (success|error|warning|info) an alert will be displayed with a message and an optional title and it will be dismissed after a few

[2016-10-25 22:27] valeryan opened #38 "Alerts Appearing again on next page or refresh when using middleware"
I am using the middleware so that standard error messages will come across as a sweet alert. When using middleware I am experience an odd quirk where once the error message is dismissed it is not being cleared from the session. If I brows to another page or refresh the page the same alert will be displayed. It only does this twice. The next page load or refresh will not have an alert. I do not see

[2016-10-31 07:29] Fershark commented on #38
same issue

[2016-11-17 07:31] #38 closed, assigned to nobody

[2016-11-17 07:32] #36 closed, assigned to nobody

[2016-11-17 07:32] #29 closed, assigned to nobody

[2016-11-18 14:18] illuminate3 commented on #36
thanks

[2016-11-23 12:16] avxkim commented on #26
@uxweb could you throw an example using your package?

Here's my `alert.blade.php` file:

[code]

How can i set cancel button using `alert()` helper?

[2016-11-23 21:01] #26 closed, assigned to nobody

[2016-12-20 18:58] rodaxGitHub commented on #37
Hi guys!
Does it works on Laravel 5.3.28?
I don't get any **alert()** or **Alert::** route or controller.

[2017-01-03 16:16] PsKs opened #42 "Class 'Alert' not found in Laravel 5.3.28"
Hello,
I use Laravel 5.3.28 and I install package form `composer require uxweb/sweet-alert`
and follow the instruction here. this is my [config/app.php](https://gist.github.com/PsKs/1f756aa8190095ab421b89892d25e9a2) and  my controller [SentinelRegisterController.php](https://gist.github.com/PsKs/9ccd0c2c9ca67342fa2ddd6e193cc80e)

On browsers I got this error `FatalThrowableError in SentinelRegiste

[2017-01-05 02:33] uxweb commented on #42
Hi @PsKs

It looks as if could not find the package classes. Could you take a look under the `vendor` directory and make sure that the package is there?.

I reviewed your configuration inside app.php and looks ok.

![screen shot 2017-01-04 at 8 32 37 pm](https://cloud.githubusercontent.com/assets/5134732/21667260/f9abfce0-d2bc-11e6-8812-fd377b346ba1.jpg)

[2017-01-05 07:40] PsKs commented on #42
@uxweb Thank for your help.
Yes. Package is here.
But after I try many thing for fix I use `php artisan config:cache` and sleep laptop for rest.
I don't know becuase `php artisan config:cache` or whatever. It work perfectly.

[2017-01-06 11:13] #42 closed, assigned to nobody

[2017-01-21 19:54] uxweb commented on #42
@PsKs

Glad you could fixed it!

Greetings

[2017-02-22 11:04] debugdotdog opened #46 "Alerts not showing on 5.4.11"
So i am trying to at uxweb/sweet-alert to my project that is currently using 5.4.11.
I have used this on many projects before but none since i started using laravel 5.4.11

My Master Layout:
[code]

My config/app.php:
`UxWeb\SweetAlert\SweetAlertServiceProvider::class,`

My Controller:
[code]

I have added `use Auth;` into my controller as well.

[2017-02-28 10:16] Nathanw commented on #46
Have you added `'Alert' => UxWeb\SweetAlert\SweetAlert::class,` to your config/app.php? You will also need `use Alert;` at the top of your controller.

[2017-02-28 10:24] debugdotdog commented on #46
Yeah I have added both of these.

[2017-02-28 11:10] Nathanw commented on #46
Do you receive any error messages? Might be worth trying `composer dump-autoload` or `php artisan config:cache` as mentioned in #42.

[2017-02-28 21:50] ramisohail commented on #46
same issue here exactly with 5.3, nothing happening at all

[2017-03-01 11:29] debugdotdog commented on #46
Ran both commands, And also tested on a fresh laravel project but still not working. No errors are showing, it just doesn't display the alert.

[2017-03-01 12:52] Nathanw commented on #46
I have just created a fresh install of laravel and included this package and everything has worked fine. Are you sure that the following is included on the layout where you want the alert to appear? Also are you sure that these files definitely exist?

[code]

[2017-03-04 19:34] ramisohail commented on #46
it worked for me after putting the  @include('sweet::alert') in the Script tag i was just putting it in my view which doesnt work

[2017-03-05 02:39] uxweb commented on #46
@doatyjs

If PHP is not squacking for some errors, maybe this is related to the load of sweetalert assets.

Try figuring out with chrome dev tools if all your assets are being loaded.

I just made a test with a fresh Laravel 5.4.15 installation and it works as expected.

![image](https://cloud.githubusercontent.com/assets/5134732/23584034/dbbeb90c-011a-11e7-89e8-b959ecc26365.png)

If you need more

[2017-03-05 02:45] uxweb commented on #46
Thank you @Nathanw @ramisohail for helping @doatyjs to try solve this issue 👍

[2017-03-19 03:46] luckyguy73 opened #47 "Readme.md - typo's?"
on the readme in 3 different places it says sweatalert instead of sweetalert.  i assume this is a typo and probably caused many people's issue when they copy and paste.  do a find on webpage of sweat to see what i mean.  thanks.

<img width="641" alt="screen shot 2017-03-18 at 8 43 45 pm" src="https://cloud.githubusercontent.com/assets/18206189/24077969/cb6d4ee0-0c1b-11e7-9036-cc99469b05cd.png">

[2017-03-19 18:37] eleazarbr commented on #37
Can someone confirm if it works for laravel 5.4?
Thank you.

[2017-03-19 20:26] rodaxGitHub commented on #37
i can confirm sweet alert works un 5.4
El El dom, 19 mar 2017 a las 19:37, Eleazar Resendez <
notifications@github.com> escribió:

--
<http://myrodax.blogspot.com.es/>

[2017-03-20 06:30] rodaxGitHub commented on #37
Add this on layout '<head>':
<link rel="stylesheet" href="{{
asset("vendor/bower_components/sweetalert/dist/sweetalert.css") }}">
<script src="{{
asset("vendor/bower_components/sweetalert/dist/sweetalert.min.js")
}}"></script>

blade example in page content:
@if ($message = Session::get('success'))
        <script>
             swal("{{ $message }}");
        </script>
 @endif

hope this can be he

[2017-03-23 13:42] AdamEsterle commented on #21
@uxweb Probably is still here.

Back button just re-runs the JS in cache (so SWAL shows again)

Maybe there should be a default functionality to "show once" somehow - not sure though... perhaps set a variable

[code]

Not sure if that var will keep scope though after you press the back button...??

[2017-03-26 20:02] luckyguy73 commented on #47
actually it works when you use SweatAlert, but i think you want it to be Sweet not Sweat, just an fyi if you want to update it

[2017-03-27 04:01] uxweb commented on #47
@luckyguy73 Thanks to spot this man! i have fixed those typos 👍

[2017-03-27 04:01] #47 closed, assigned to nobody

[2017-03-27 04:01] #46 closed, assigned to nobody

[2017-03-27 21:03] davericher opened #49 "Way to deal with sweetalert2s autoclose promise rejection"
sweetalert2, a more accessible drop in replacement has a promise that gets resolved or rejected on autoclose. Everything works, but it makes for an annoying console.log message. Do not mind adding this myself, cannot seem to find where your building the actual JS call however

[2017-03-27 21:07] davericher commented on #49
nvm,
[code]
In the alert.blade.php works fine

[2017-03-27 21:07] #49 closed, assigned to nobody

[2017-04-03 18:16] randyrankin opened #50 "Typos in readme"
There is a typo in the middleware section ```\UxWeb\SweetAlert\ConvertMessagesIntoSwetAlert::class,```. It should read ```\UxWeb\SweetAlert\ConvertMessagesIntoSweatAlert::class,```

[2017-04-03 18:21] randyrankin commented on #50
Also, is there there a typo in the file named uxweb\sweet-alert\src\SweetAlert\ConvertMessagesInto**Sweat**Alert.php? Shouldn't it be \ConvertMessagesInto**Sweet**Alert.php. The same applies to the class name. Is this by design??

[2017-04-07 02:13] uxweb commented on #50
@randyrankin

Those are typos, thanks for finding them!

[2017-04-07 02:15] uxweb commented on #50
@randyrankin

The latest release have all those types fixed

[2017-04-07 02:39] randyrankin commented on #50
I guess I could have done a PR but wasn't sure if it was that way for some reason I wasn't seeing. Anyway, thanks for your work on this!

[2017-07-13 14:20] mattnewark opened #53 "Showing popup before action"
Hi,

Is it possible using your code to be able to have a popup appear before a action is done.  SO if I want to delete a user have a popup appear confirming deletion?

Thanks

[2017-08-01 10:55] waggyman commented on #53
You can use this in your javascript tag

[code]

[2017-08-24 09:24] chrisk2204 opened #55 "Issue with UxWeb\SweetAlert\ConvertMessagesIntoSweetAlert"
Hey,

I wonder why I've gotten a "Class UxWeb\SweetAlert\ConvertMessagesIntoSweetAlert does not exist" exception.
Found out, that there is a typo in the filename under /vendor/uxweb/sweet-alert/SweetAlert/
The php file there is named ConvertMessagesIntoSweatAlert. Sweet but with -ea- instead -ee-

Greetings

Chris

[2017-08-24 10:28] chrisk2204 opened #56 "Since Laravel 5.3 we cannot enter Javascript directly in views"
What to do now? So I can not configure the sweetAlert messages. But I need a "Do you really want to delete this" dialog with "yes" and "no" option. So I got my controller with a `Session::flash('sweet_alert.alert', $message, null);` line.
In my view I render a partial named '_messages.blade.php where I catch the session messages.
As described in your readme I should enter the javascript here, but

[2017-09-10 17:23] #50 closed, assigned to nobody

[2017-09-10 17:24] #53 closed, assigned to nobody

[2017-09-10 17:24] #55 closed, assigned to nobody

[2017-09-10 17:30] uxweb commented on #56
Hey @chrisk2204,

The helper alert method is intended to be used from your controllers not in views.

If you want to add extra functionality beyond just "alerting", please check the sweet-alert javascript api https://limonte.github.io/sweetalert2/.

If you need more help, I'll be glad to help!

[2017-09-14 14:01] guillenotfound opened #59 "type -> icon"
According to their documentation seems like that kay might change?

[2017-09-25 14:09] joerjoers opened #62 "SweetAlert2 Compatibility"
Most of the function are no longer working in SweetAlert2.
**Example:**
`alert()->success('Message', 'title');` is no longer working as a Success Alert but a normal alert.

[2017-10-06 13:57] ashish328 commented on #62
the upgraded package of sweetalert1.x to sweetalert2.0 is not working as expected icons are missing while using it.

[2017-10-16 14:47] legreco commented on #62
The icons are showing correctly on my side

[2017-10-17 17:42] uxweb commented on #62
@joerjoers

There are some breaking changes in the sweet alert 2 javascript API.

This package is intended to work with v1 of sweet alert javascript.

To Add compatibility with sweet alert 2 I would need to make a new release which will not be backwards compatible.

So the versions will be as:

V1.* => sweet-alert compatible

V2.* => sweet-alert-2 compatible

What do you thing guys? Does this look

[2017-10-17 18:39] uxweb commented on #62
Ok Guys, I see that the same sweet alert package from npm has upgraded to v2 officially. Then I will upgrade this package to work with the sweet-alert2 javascript library.

I need to review the breaking changes as published here:

https://sweetalert.js.org/guides/#upgrading-from-1x

[2017-10-17 21:56] legreco commented on #62
will the upgraded package laravel 5.5 compatible?

[2017-10-18 22:23] R00118189 commented on #62
@uxweb when can we expect PR merge? and full SweetAlert2 compatibility?

[2017-10-24 16:32] uxweb commented on #62
@legreco
Yes, it is compatible with Laravel 5.*.

@R00118189
We are working on the new version. It'll be ready for the next week (at the end of October).

Thanks for all your help and support.

[2017-11-05 06:23] OGhawsi commented on #62
I am also getting just a normal alert for all types of messages. Can someone help? I am using Laravel 5.5
@uxweb

[2017-11-06 09:06] zietbukuel commented on #62
I'm also having this same issue on Laravel 5.5. I'm just getting a normal/regular message popup, changing the type of messages always produces the same result.

[2017-11-06 09:17] zietbukuel commented on #59
@ZiFFeL1992 Are you talking about this?

https://github.com/uxweb/sweet-alert/blob/develop/src/SweetAlert/SweetAlertNotifier.php#L63

If so yeah, I change that line from:

`$this->config['type'] = $type;`

To

`$this->config['icon'] = $type;`

And now it works fine.

[2017-11-07 16:32] iLongRanger opened #64 "icon"
Hi ,
 Im having some issue when using Alert::success('Success Message', 'Optional Title'); on my controller , its not showing any icons just the text. i do have the css and js file on my directory. how can i fix this ?

[2017-11-07 16:39] iLongRanger commented on #64
this is what i get from the chrome's console window, and i dont know how to fix this,

SweetAlert warning: "showConfirmButton" option has been deprecated. Please use "button" instead. More details: https://sweetalert.js.org/docs/#button

sweetalert.min.js:1 SweetAlert warning: "type" option has been deprecated. Please use "icon" instead. More details: https://sweetalert.js.org/docs/#icon

I alread

[2017-11-07 16:53] iLongRanger commented on #64
I just gone through the issue about compatibility , I'll just wait for your new release :) thank you !

[2017-11-07 16:53] #64 closed, assigned to nobody

[2017-11-10 01:33] stealthAngel opened #65 "Sweet alert doesn't show css image"
# edit and solution
Still no css images. This package needs to be updated to sweetalert2. It's better to make an if else session statement and hard code the sweet alert inside it. Alternatively, make a sweetalert.blade page and include it. e.g

[code]
then in blade file js/sweetAlert.blade.php
https://limonte.github.io/sweetalert2/
[code]
Until this package gets updated use the above sample.
# ori

[2017-11-13 11:36] OGhawsi commented on #62
Does anybody know if the problem is solved because I am running out of time to deploy my app.
Thanks. @uxweb

[2017-11-13 13:21] iLongRanger commented on #62
I am also waiting for the update.

[2017-12-06 20:35] 23andreas commented on #62
+1

[2017-12-12 04:41] erenergul opened #67 "use Alert;"
I put "use Alert;" my controller laravel project 5.5 but It doesn't work ? Do you have any idea why it happened ? I don't understand. I manually add provider and alias by myself still doesn't working at all..

[2017-12-17 18:15] iLongRanger commented on #67
I'm having an issue with this as well but I just disregarded it and continue coding. my IDE is highlighting that import and giving me an error message "undefined class". Its still working for me, the alert is still showing its just that alert()->success('Message', 'title'); is no longer working as a Success Alert but a normal alert. same as with issue #62 . still waiting for an update from @uxweb

[2017-12-27 11:34] Hego2017 opened #68 "Confirm Button in Controller"
Is there some way for put a Confirm message in a Controller in Laravel?

I only have the possibility to print

`Alert::warning('Are you sure?', 'message')->persistent('Close');`

How Can I do it like a confirm button like views?

`if (Session::has('sweet_alert.alert'))
    <script>
        swal({
            text: "{!! Session::get('sweet_alert.text') !!}",
            title: "{!! Session::get('sw

[2018-01-06 09:12] limonte commented on #56
this link is outdated, here's the correct one https://sweetalert2.github.io//

[2018-01-06 10:51] limonte commented on #65
this link is outdated, here's the correct one https://sweetalert2.github.io/

[2018-01-16 16:53] OGhawsi commented on #62
I have downloaded both css and js @1.1.3 and worked fine. Here is the link.
https://unpkg.com/sweetalert@1.1.3/dist/

[2018-02-02 21:22] zymawy commented on #65
@limonte How Did You Solve This Issue?

[2018-02-03 04:58] stealthAngel commented on #65
I did this by skipping this package and doing it the javascript way.

[2018-02-03 19:08] magnosis commented on #65
I had the same issue and everything went back to normal simply by using version 1.1x instead of 2.x of SweetAlert.js

[2018-02-03 19:09] magnosis opened #69 "Doesn't play nice with SweetAlert 2.x"
There are a few features that don't work in combination with SweetAlert 2.

Is there any plan to upgrade this package to be swal-2.x friendly?

[2018-02-03 19:12] magnosis commented on #69
Oops. I made a very lightweight duplicate of exisiting issue... sorry, my bad.

[2018-02-03 19:12] #69 closed, assigned to nobody

[2018-02-03 19:14] magnosis commented on #62
Do you guys have an ETA for v2?

Thank you so much for this package!!
I'm using it with sweetalert 1.1.3 in the meantime, works wonderfully. Great job!!

[2018-02-07 07:11] mrunalshah commented on #67
I had the same issue and solved it by using the following in the controller:-
`use UxWeb\SweetAlert\SweetAlert as Alert;`
also don't forget to add following in the blade (parent) file:
`@include('sweet::alert')`

[2018-02-08 10:59] addingama commented on #62
I can make it work with sweetalert 2.

I just need to export the config and view
[code]

 then change the view `resources/view/vendor/sweet/alert.blade.php` to follow sweetalert 2 format

[code]

I hope that can help

[2018-02-09 12:33] madaliou opened #70 "Sweet alert window displaying again when user press back button.How to fix it?"

[2018-03-01 06:42] Wasca commented on #62
@uxweb Just wondering if this is now compatible with SweetAlert2? https://sweetalert2.github.io/

[2018-03-05 18:48] jemoreno opened #72 "SA position"
Would love to have the ability to define position from the function call in a controller.

[2018-03-09 12:35] lucasdcrk commented on #72
+1

[2018-03-10 22:43] fedeverdi commented on #70
Same Issue here

[2018-03-21 19:58] AvatarRolon opened #73 "Sweet alert does not work well"
i'm ussing laravel with last version of sweet alert and is not working beacuse, the options given in SweetAlertNotifier.php not correspond with options given in SweetAlert Doc's.

My question is, will you upgrade the library or do i have to use another library?

or

What can i do to solve the problem with the functions?

Thanks.

[2018-04-27 14:41] Varin6 opened #74 "Where is sweetalert.css ?"
I followed all installation instructions and there is no sweetalert.css in my project folder at all, checked node_modules as well.

[2018-05-15 19:12] jangrimm commented on #74
You actually don't need this file.

[2018-05-24 07:47] nickdavies791 commented on #67
You'll need to add the following to your `config/app.php` file underneath 'aliases' to use the alias name rather than the full path.

[code]

Then you can `use Alert` in your controller.

[2018-05-31 20:45] Vladimir86ns opened #75 "Nothing happened"
I just did as it is on documentation:

1)
composer require uxweb/sweet-alert

2)
'providers' => [
    UxWeb\SweetAlert\SweetAlertServiceProvider::class,
 ];

'aliases' => [
    'Alert' => UxWeb\SweetAlert\SweetAlert::class,
];

3)
npm install sweetalert

4)
in controller imported
use Alert;

in function
Alert::message('Robots are working!');

5)
in layout included

<link rel="stylesheet" href="css

[2018-07-16 14:42] robertotcestari opened #76 "Is this updated to v. 2?"
Hi, i was using this packaged and decided to upgrade Sweet Alert from v.1 to v.2.

But the docs for this package still asks for a css file (that is no longer required). I am also getting "deprecated" messages in my console.

Is this package ready for v. 2 of SweetAlert?

[2018-07-20 20:28] RogierWijsman commented on #76
Got it working with

https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.0/sweetalert.min.js

[2018-07-24 06:30] uxweb commented on #76
@robertotcestari

Now it's ready for v2

[2018-07-24 06:30] #76 closed, assigned to nobody

[2018-07-24 06:31] #67 closed, assigned to nobody

[2018-07-24 06:31] #68 closed, assigned to nobody

[2018-07-24 06:31] #59 closed, assigned to nobody

[2018-07-24 06:32] #73 closed, assigned to nobody

[2018-07-24 06:32] #65 closed, assigned to nobody

[2018-07-24 06:32] #56 closed, assigned to nobody

[2018-07-24 06:35] uxweb commented on #62
@Wasca @magnosis @iLongRanger @dashracer @OGhawsi

Guys, I'm very sorry for have making you wait for so long.

v2 is now ready!

I really appreciate all your support.

Best regards

[2018-07-24 06:35] #62 closed, assigned to nobody

[2018-07-24 06:37] uxweb commented on #74
@Varin6 As of v2 of sweetalert js library, styles are now included within the js file.

https://sweetalert.js.org/guides/#upgrading-from-1x

[2018-07-24 06:37] #74 closed, assigned to nobody

[2018-07-24 06:38] uxweb commented on #75
@Vladimir86ns

Please, upgrade to v2

[2018-07-24 06:38] #75 closed, assigned to nobody

[2018-07-24 06:39] uxweb commented on #72
@jemoreno

Unfortunately the js api doesn't support this configuration.

[2018-07-24 06:39] #72 closed, assigned to nobody

[2018-08-15 10:44] rioaguspermana opened #81 "[QUESTION] Unknown parameter "buttons" and "icon" on v2.0"
### Versions
* PHP version: 7.2.4
* Laravel version: 5.6.*
* Uxweb/sweet-alert version: 2.0
* Sweetalert2:  7.26.11

here my composer.json
[code]
### Configuration
* include .css and .js files from the sweet-alert library.
* include package to service provider and aliases in config/app.php.
* place `@include('sweet::alert')` in blade.
* call sweetalert within controller `Alert::error('Something we

[2018-08-16 01:50] yoelpc4 commented on #81
Try to include .js files from https://unpkg.com/sweetalert@2.1.0/dist/sweetalert.min.js or https://cdn.jsdelivr.net/npm/sweetalert before your `@include('sweet::alert')`

[2018-08-16 02:15] rioaguspermana commented on #81
its work thanks and cheers

[2018-08-16 02:15] #81 closed, assigned to nobody

[2018-09-01 13:51] azhidhak opened #82 "show alert icon"
when i use alert ,alert show successful but icon dont display ?

[2018-09-01 17:03] AbdullahObaid commented on #82
use this js file https://unpkg.com/sweetalert@2.1.0/dist/sweetalert.min.js instead of the latest sweetalert release

[2018-09-01 17:31] azhidhak commented on #82
tnx , solved

[2018-09-07 13:53] FMurunga opened #83 "persistent not showing close text"
`alert()->success('Staff has been deleted successfully', 'Success')->persistent('Close');`
the alert produced by the above code does not have the close button
Edit!!
here is the problem
`sweetalert.min.js:1 SweetAlert warning: "showConfirmButton" option has been deprecated. Please use "button" instead. More details: https://sweetalert.js.org/docs/#button
e.logDeprecation @ sweetalert.min.js:1
swee

[2018-10-10 09:00] schoenico commented on #83
SweetAlert warning: "showConfirmButton" option has been deprecated.

Same problem on my side! Please change, thanks a lot!

[2018-11-01 17:15] uxweb commented on #83
@FMurunga @nicobbzsogr

Please, update to the new version (2.0)

[2018-11-01 17:15] #83 closed, assigned to nobody

[2018-11-07 17:36] behzadcym commented on #83
Hi!
I have installed the last version but I still have the same error.

[2018-11-07 17:38] behzadcym commented on #83
And another point is that when I use Alert facades it works fine but when I use helper function alert(),nothing shows up!

[2018-11-11 19:22] mohamadhs opened #84 "sweet alert button doesn't appear"
Hi
I use sw-2 in my laravel project but persistent button doesn't show

alert()->warning('please wait','my title')->persistent('ok');

Button Ok doesn't show
can anyone help me?

[2018-11-16 11:19] myurtsev opened #85 "Missing persistent button when using html in the message (simple fix)"
If you want to use html in combination with a persistent button, you have to adjust the lines 264 and 265 in SweetAlertNotifier.php. This is because the options 'showConfirmButton' & 'confirmButtonTex' are deprecated.

Example:

`Alert::error('<p>Text</p>', 'Oops!')->html()->persistent('ButtonText');`

Adjust the lines 264 and 265 in SweetAlertNotifier.php;

from

[code]

to

[code]

[2018-11-17 00:38] uxweb commented on #84
@mohamadhs What version of sweet alert js are you using?

[2018-11-17 00:39] uxweb commented on #85
@myurtsev This is already changed in the new version, please upgrade if you need to use Sweet Alert 2

[2018-11-17 06:59] mohamadhs commented on #84
2

[2018-11-18 17:16] #85 closed, assigned to nobody

[2018-11-19 02:54] ootim commented on #84
Hi, I'm experiencing the same issue as well on version 2 and,
 - Laravel 5.7
 - sweet alert 2.1.2

Any help with this, please?

[2018-11-20 19:06] uxweb commented on #82
@AbdullahObaid @azhidhak

Thank you. Glad you could solved it!

[2018-11-20 19:06] #82 closed, assigned to nobody

[2018-11-20 19:07] uxweb commented on #84
@mohamadhs @ootim

Thank you for submitting this issue. I have detected a bug related to persistent behavior. I'm working on fixing it.

Give me some minutes please.

[2018-11-20 19:29] uxweb commented on #84
@mohamadhs @ootim

The fix is ready and integrated. Please upgrade to v 2.0.1

[2018-11-25 23:26] ootim commented on #84
Hi, thanks!

[2018-11-27 20:19] #84 closed, assigned to nobody

[2018-12-08 18:05] eemaano opened #88 "HTML not displaying"
Using Laravel/Spark. Had things working somewhat, then ran into issues after doing some vue and working on the site more. I then had to add in a 'title', before my text to get the alert to show.
Now the code will not display in html. It just prints out all the code. My second issue is that whether i use info, message, alert, the icon doesn't appear. All i'm getting right now is text.  Any assistan

[2018-12-25 15:02] eemaano commented on #88
My app must have updated to 2.0 and i was still using version 1 javascript. So i replaced with https://unpkg.com/sweetalert/dist/sweetalert.min.js and everything is working again.

[2018-12-25 15:02] #88 closed, assigned to nobody

[2019-02-07 13:16] edsonrbispo commented on #70
When the problem is not facing the browser, the alert appears again.

[2019-03-30 15:58] eleazarbr opened #89 "Not showing messages from Named Error Bags"
Hello, for some reason I had problems showing messages from Named Error Bags.

Something like:

[code]

To access the named ErrorBag it's necessary to do:

[code]

so, I had to add the following code to the `ConvertMessagesToSweetAlert.php` middleware:

[code]

It should be improved, but for the moment hope it works for something.
Was there another way to solve it? Thank you.

[2019-04-03 19:35] Userlol99 opened #90 "update please:,D"
bro you could update the package to the new version of sweet alert, the problem about the alerts I can correct for now, if you want I sent the code to change. but please upgrade it ;(

[2019-04-05 15:44] uxweb commented on #89
Thank you @eleazarbr

Right now this package does not support named error bags. If you know how to implement the feature, please send a PR.

[2019-04-05 15:48] uxweb commented on #90
@Userlol99

The package API is already upgraded for sweetalert V2.

[2019-04-05 15:52] uxweb commented on #70
@fedeverdi @edsonrbispo

This is related on how browsers manage caching, even when messages are taken out from the session, if you go back to a previous page, the bowser will display them.

Any idea on how we can fix this?

[2019-04-07 03:09] eleazarbr commented on #89
Great! Let me see what'd be the best way to do this and make a PR. Regards and nice work.

[2019-04-19 23:08] #89 closed, assigned to nobody

[2019-04-19 23:08] #90 closed, assigned to nobody

[2019-04-19 23:08] #70 closed, assigned to nobody

[2019-04-23 06:39] RajeshwerSoftware opened #91 "SHOULD IT WORK ON LARAVEL 5.7 ?"
SWEET ALERT AFTER SUBMIT FORM IN LARAVEL 5.7 NOT WORKING PLEASE HELP ME

[2019-04-25 20:35] ackseriam commented on #91
@RajeshwerSoftware  I have not been able to integrate it either. Any solution?

[2019-04-25 20:36] ackseriam commented on #91
@uxweb please, help.

[2019-04-28 09:29] ludo1960 commented on #91
Where to find the JS and CSS files?

[2019-04-29 02:48] ludo1960 commented on #91
Add at top of blade file
<script src="https://code.jquery.com/jquery-2.2.2.min.js"></script>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

then add this to form open method, I'm using laravel collective forms, so adjust to your needs
{!! Form::open([ 'id' => 'my-form', 'method' => 'DELETE', 'route' => ['users.destroy', $user->id], 'onsubmit' => 'validate(event)' ]) !

[2019-04-29 03:17] uxweb commented on #91
@RajeshwerSoftware

Please, can you give more details about your configuration?

[2019-04-29 03:18] uxweb commented on #91
@ackseriam

Sure, could you describe your issue please?

Thanks

[2019-04-29 03:21] uxweb commented on #91
@ludo1960

Javascript and css files can be included within your frontend dependencies:

- Directly in your script tags, just before closing the body tag in your blade layout.
- Installing it with npm/yarn and importing it using the resources/js/bootstrap.js.

If you need more details about it, I am able to guide you on how to do it.

[2019-04-29 03:27] uxweb commented on #91
@RajeshwerSoftware @ackseriam @ludo1960

One thing I need to mention about this package is that it only works as a way of showing alerts using the sweet alert javascript library.

If you need to use it for confirmation dialogs or other features that it has, you need to use the js directly.

[2019-04-29 03:30] ludo1960 commented on #91
II have it working as my code above, ended up `<script src="{{ asset('js/sweetalert2.min.js') }}"></script>
copying the code from `https://code.jquery.com/jquery-2.2.2.min.js and putting im my public/js folder. Works a treatm Thanks!!

[2019-05-05 01:51] sudarakas commented on #91
Same problem, not showing Alert :/
`
 \Mail::to($owner->email)->send(new ContactMail($request));

        Alert::success('Success Message', 'Optional Title');

        return back();

    }`

[2019-05-05 01:58] sudarakas commented on #91
**Working fine, with Laravel 5.7, I fixed my issue**
You should add the following line, to your view file after the jquery file
` <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    @include('sweet::alert')`

**{{-- JavaScript Files --}}
    <script src="/js/jquery-3.3.1.min.js"></script>
    <script src="/js/sweetalert.min.js"></script>
    @include('sweet::alert')**

[2019-05-06 12:54] meijdenmedia opened #92 "Unnecessary function in tests"
Since a few days I'm trying out Scrutinizer. When I add a call to get something from my Laravel config files, Scrutinizer gives me an error.

It tells me my config() method should implement a second parameter. The second parameter for config() isn't mandatory, so I think it is picking the wrong config method.

Why do we need an config() method in this test file? Can we move it inside a namespace t

[2019-05-06 14:06] uxweb commented on #92
Are you running that tool even on all the vendor code?
On May 6, 2019, 7:54 AM -0500, MeijdenMedia <notifications@github.com>, wrote:

[2019-05-06 14:11] meijdenmedia commented on #92
Our codebase is being installed on a VM and all vendors are installed via composer install, this is default behaviour for Scrutinizer. I think this is because they want to check our codebase for correct calls to external packages: e.g. missing function parameters, incorrect parameter types, stuff like that.

[2019-05-07 16:58] impactcolor opened #93 "Doesn't work when posting"
I've gotten the alerts to appear on a regular page but when I attempt to post and add it BEFORE my redirect it doesn't work.  Here's what I have:

[code]
Here is my route:
`Route::post('/checkout', 'CheckoutController@store');`

I would expect the above to display an alert before the redirect but it does not.  I tested as a regular get and it works, when I try to post it doesn't work.  Any ideas w

[2019-05-13 07:01] meijdenmedia commented on #92
Is it possible to move this call? Or at least make the parameters equal to the Laravel method? I can create a PR for that if you want to.

The method in the Laravel helpers:
[code]

[2019-05-14 08:24] debugdotdog commented on #93
So I believe I understand what you are asking. You want for someone to submit the form, the alert to show if the request was successful, and THEN redirect the user.

The issue is that you are adding your `Alert::message` into your request and then redirecting the user to your `dashboard-orders` page, so it will show on the next page when you have access to the request data. To overcome this, you w

[2019-05-14 09:37] doliskani commented on #62
Do not show me the icons too.

[2019-05-16 15:37] uxweb commented on #92
@meijdenmedia

That call is for mocking the Laravel config in tests, it is not actually used in production code.

[2019-06-11 17:45] ttomdewit opened #95 "[POTENTIAL BUG] Sometimes fails to persist session to front-end"
Dear maintainer,

First of all thank you for maintaining this package and all the hard work that goes into it.

What I aim to address is the issue that sometimes the SweetAlert modal fails to show. After extensive "research" on my end, I hope to create an informative issue that is descriptive enough for us to work on, given you have the time.

**Step by step scenario**:

1. I have a simple form wi

[2019-08-17 17:32] eleazarbr commented on #93
[code]

 I think if you do it this way, your alert will be displayed correctly on the next route

[2019-08-24 11:42] AngusDV opened #97 "Sweet Alert facade through redirect() method"
hi
after get npm package i am include js and this lines in my view of project  :
<script src="js/sweetalert.min.js"></script>

    @include('sweet::alert')

after :

` Alert::success('the New Catalogue has been Created.');`
` return view('Admin.catalogues.index');`

 sweet alert work fine but after :

`Alert::success('the New Catalogue has been Created.');`
`return redirect('admin/catalogue/create

[2019-08-24 13:48] AngusDV commented on #75
i am have same problem and do instruction of @Vladimir86ns in new version but my problem not solved

[2019-08-24 15:33] AngusDV commented on #97
i am create new project in

return redirect('admin/catalogue/create');

work fine i am need sweet alert but i am don't know about why sweet_alert's session remove immediately i am use ckfinder. Is it possible to get conflict with each other?

[2019-08-25 09:04] AngusDV commented on #97
@uxweb please help i am can't find research about this problem

[2019-08-25 09:53] AngusDV commented on #97
solved my problem i am create new project then copy middleware/kernel.php to my project and fix it thank you and excuse me .

[2019-08-25 09:54] #97 closed, assigned to nobody

[2019-09-04 08:27] anburocky3 opened #98 "Remove laravel/framework v6.0.0 - Not supported on Laravel 6.0?"
`
Using version ^2.0 for uxweb/sweet-alert
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework v6.0.0
    - Conclusion: don't install laravel/framework v6.0.0
    - uxweb/sweet-alert 2.0.

[2019-09-04 21:32] decalages commented on #98
#99  😉

[2019-09-05 12:08] anburocky3 commented on #98
Cool! Love from India!

[2019-09-12 10:48] msonowal commented on #98
@uxweb
Can you tag a release

[2019-09-19 23:12] Juanjosexdd opened #100 "Remove laravel/framework v6.0.0 - Not supported on Laravel 6.0?"
Using version ^2.0 for uxweb/sweet-alert
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclusion: remove laravel/framework v6.0.3
    - Conclusion: don't install laravel/framework v6.0.3
    - uxweb/sweet-alert 2.0.0

[2019-09-22 02:06] anburocky3 commented on #100
Author have merged the pull request, but the new installation with Laravel 6.0 is failing. @uxweb

[2019-09-22 02:17] anburocky3 commented on #100
@Juanjosexdd You can use the dev-master branch if you want.

`composer require uxweb/sweet-alert dev-master`

But know that, dev-branch may have errors. Do it in your own risk!

[2019-09-22 20:56] Juanjosexdd commented on #100
ok i will try to test on a new branch

[2019-09-25 11:50] Rishibansal1998 opened #101 "Laravel Version"
Not installing with Laravel 6.0

 - Conclusion: remove laravel/framework v6.0.4
 - Conclusion: don't install laravel/framework v6.0.4

[2019-10-17 12:04] seshac commented on #100
Dev is working fine, but when the master branch will support for laravel 6.0 @uxweb

[2019-10-18 14:36] dev-techguy opened #102 "Package Install Error in Laravel 6.3.0"
uxweb/sweet-alert 2.0.0 requires illuminate/session ~5.0 -> satisfiable by illuminate/session[5.0.x-dev....

[2019-10-21 06:39] aamirchaudhary commented on #102
Add this in composer.json and update;
"uxweb/sweet-alert": "dev-master"
its working for me.

[2019-10-23 23:02] colbyalbo commented on #102
Same error here.  using the "uxweb/sweet-alert": "dev-master" worked

[2019-10-26 03:55] michaelmagero opened #104 "Sweet Alert Deprecated Methods"
Am getting this error in google chrome how can i remove it

[2019-10-26 17:36] dev-techguy commented on #102
Using **"uxweb/sweet-alert": "dev-master"** in composer.json worked.
![aff22723ab391b694c9bcae65ee2da76](https://user-images.githubusercontent.com/36882600/67623624-356d8780-f830-11e9-963c-6dd19f8190e9.png)

[2019-10-27 22:40] JoaoGCNeves opened #105 "I tried to install the package and it is returning this error"
joao@joao-pc:/var/www/laraproject/public_html$ composer require uxweb/sweet-alert
Cannot load Xdebug - it was already loaded
Using version ^2.0 for uxweb/sweet-alert
./composer.json has been updated
Loading composer repositories with package information
Updating dependencies (including require-dev)
Your requirements could not be resolved to an installable set of packages.

  Problem 1
    - Conclu

[2019-10-27 22:49] JoaoGCNeves commented on #105
I ran the command
`composer require uxweb/sweet-alert dev-master`
and the installation was successful

[2019-10-27 22:50] #105 closed, assigned to nobody

[2019-10-27 22:55] JoaoGCNeves commented on #101
I ran the command
`composer require uxweb/sweet-alert dev-master`
and the installation was successful

[2019-11-05 17:29] AmjadIqbal commented on #104
Hey , Have you try my laravel sweetalert package , it's very simple to use . i have also provided live chat https://amjadiqbal.github.io/sweetalert/

[2019-11-14 10:51] joantp commented on #102
Gràcies, gràcies, gràcies!

[2019-11-22 09:36] kriiv opened #106 "SweetAlert warning: "type" option has been deprecated. Please use "icon" instead."
Getting this error. On `dev-master` Laravel 6.
Pulling sweetalert.js (2.1.2) from Cloudflare.

`SweetAlert warning: "type" option has been deprecated. Please use "icon" instead.`

[2019-11-22 10:08] thewebartisan7 commented on #106
It's just a warning, you can safetly ignore it.

[2019-11-22 10:09] thewebartisan7 commented on #104
Same as here https://github.com/uxweb/sweet-alert/issues/106

[2019-11-22 10:12] kriiv commented on #106
It's a warning but I am doing something like `Alert::success(etc etc);` and no icon 'tick' is showing because of it.

[2019-11-22 10:28] thewebartisan7 commented on #106
Sorry seem that you are right, I just come today to this package, and I didn't test it enough.

The problem can be solved quickly, by changing here:

https://github.com/uxweb/sweet-alert/blob/master/src/SweetAlert/SweetAlertNotifier.php#L82

to:

`$this->config['icon'] = $icon;`

[2019-11-22 10:38] thewebartisan7 commented on #106
Without changing package code, if you publish the view and use your custom, this can be a workaround:

[code]

[2019-11-22 10:44] kriiv commented on #106
You are AWESOME.

I published the view and made the changes you suggested. Works perfectly.

[2019-11-22 11:03] thewebartisan7 commented on #104
How you get this? I can't reproduce.

[2019-11-22 14:13] AmjadIqbal commented on #104
hey @thewebartisan7  have you try this package , which support almost every function , and also you can make your own model boxes with sweetalert , https://amjadiqbal.github.io/sweetalert/

[2019-11-23 12:23] thewebartisan7 commented on #104
Thanks for sharing. I started yesterday refactor this to support sweetalert2, and since I do already many progress, I will keep mine upgraded. However, I would check into your to see what I can implement in mine. The link https://github.com/amjadIqbal/sweetalert seem broken. Did you delete it or what?

[2019-11-23 14:03] AmjadIqbal commented on #104
@thewebartisan7  yes i delete the respository because my friend told me that you have created a copy of my laravel sweetalert package ,  what you think about it , ?
If you want to talk with me then come to my documentation page https://amjadiqbal.github.io/sweetalert/ and start chatting with me i will talk you there

[2019-11-27 10:25] aliesmailiCode commented on #102
dont show icons

[2019-12-09 22:21] stephan-v commented on #102
Icons are not showing.

[2019-12-13 12:38] #106 closed, assigned to nobody

[2019-12-16 17:27] bumbummen99 opened #109 "Tag new version"
Please create a new release version tag so that people do not have to use dev-master.

[2019-12-23 08:45] AngusDV commented on #64
on
\vendor\uxweb\sweet-alert\src\SweetAlert\SweetAlertNotifier.php

change
 $this->config['type'] = $icon;
to
 $this->config['icon'] = $icon;
in line 82

[2019-12-23 09:03] AngusDV commented on #106
go to [https://github.com/uxweb/sweet-alert/issues/64](url)

[2019-12-23 09:04] AngusDV commented on #82
go to https://github.com/uxweb/sweet-alert/issues/64

[2019-12-23 18:09] uxweb commented on #109
@bumbummen99 Thank you for noting this. Working on it!

[2019-12-23 18:18] uxweb commented on #104
@mowimisha

I'm doing a review of the new api for the sweet alert js library. This seems as a breaking change and maybe a new major version will be released.

[2019-12-24 01:11] uxweb commented on #109
Thank you! It is ready!

[2019-12-24 01:11] #109 closed, assigned to nobody

[2019-12-24 01:13] uxweb commented on #104
@mowimisha I think that you are using another sweet alert js library. I didn't know two of them exists. This PHP package is designed to work with https://github.com/t4t5/sweetalert and not https://github.com/sweetalert2/sweetalert2.

[2019-12-24 01:13] #104 closed, assigned to nobody

[2019-12-24 01:14] uxweb commented on #101
@Rishibansal1998 @JoaoGCNeves

A new tag (2.0.2) was released, there is no need to require dev-master anymore.

Thank you!

[2019-12-24 01:14] #101 closed, assigned to nobody

[2019-12-24 01:16] uxweb commented on #102
@AliEsmaili72  @stephan-v

A new release is out! There's no need to require dev-master anymore!

Thank you!

[2019-12-24 01:16] #102 closed, assigned to nobody

[2019-12-24 01:23] uxweb commented on #95
@ttomdewit

Hello Tom,

Sorry for my late answer to this issue. I am working on improving the code that flashes the configuration to the Laravel session. Maybe this can solve this and other issues related to session data.

I'll let you know in this issue when the new release is out!

Please stay tuned!

[2019-12-24 01:24] #92 closed, assigned to nobody

[2019-12-24 01:25] #91 closed, assigned to nobody

[2019-12-24 01:26] uxweb commented on #98
Sorry guys!

A new release is out!

[2019-12-24 01:26] #98 closed, assigned to nobody

[2019-12-24 01:26] uxweb commented on #100
Sorry guys!

A new release is out!

[2019-12-24 01:26] #100 closed, assigned to nobody

[2019-12-24 07:30] uxweb commented on #95
@ttomdewit

Hello Tom,

The new release is out!

Thank you!

[2019-12-24 21:24] BeauvR opened #112 "Update"
Do you now when you update the package to laravel 6.9.0? I want to use it ;)

[2019-12-25 00:44] uxweb commented on #112
@BeauvR

It is ready for that version

[2019-12-27 15:49] #112 closed, assigned to nobody

[2020-01-04 12:33] anburocky3 opened #114 "SweetAlert warning: "type" option has been deprecated. Please use "icon" instead."
I tried to uninstall and again get the fresh copy by `composer require uxweb/sweet-alert` but still the same problem..

Do i have to manually replace the type to icon?

[2020-01-04 19:04] #114 closed, assigned to nobody

[2020-01-07 12:41] mosi3883 opened #115 "Alert Facade doesn't work!"
when I'm using ```alert()->message('Message', 'Optional Title');```
it's work
but when I'm using ```Alert::message('Message', 'Optional Title');```
it's not working
the session doesn't contain any sweet alert data When I'm using Facade
No error on Laravel
no error on console

[2020-01-08 17:36] robertotcestari commented on #115
same here.

[2020-01-10 16:41] uxweb commented on #114
@anburocky3

Please update to the new version.

[2020-01-10 16:42] uxweb commented on #115
@mosi3883 @robertotcestari

Are you importing the whole namespace for the facade?

[2020-01-10 17:20] mosi3883 commented on #115
I used `use Alert;`

[2020-01-11 19:08] anburocky3 commented on #114
Sorry was experiencing this issue, restarting with `php artisan serve` fixed the problem... Thank you for commenting.

[2020-01-13 09:19] ijarinz commented on #115
same here :(

[2020-01-13 21:23] uxweb commented on #115
@mosi3883 Could you import the Facade using the whole namespace?

[code]

[2020-01-14 00:59] ijarinz commented on #115
use UxWeb\SweetAlert\SweetAlert;
then using SweetAlert::message
doesnt work

use UxWeb\SweetAlert\SweetAlert;
then alert()->message('Message', 'Optional Title');
works

use SweetAlert;
then using SweetAlert::message
throws 'Class not found'

use Alert;
then Alert::message
doesn't work

use Alert;
then alert()->message('Message', 'Optional Title');
works

[2020-01-14 02:39] mosi3883 commented on #115
I decided to use main script and don't use packages so feel free to close this issue

[2020-01-14 19:03] uxweb commented on #115
@ijarinz

Facade and helper function usage are not related. If you want to use the facade just import it with:

[code]

If you want to use the helper function there's no need to import the Facade. Helper function is able to resolve the underlying service class.

The case for `use SweetAlert` failing relates on how the alias is defined in the `config/app.php` file. You can name the alias whatever y

[2020-01-14 19:10] uxweb commented on #114
@anburocky3

Glad to be of help!

[2020-01-15 00:57] ijarinz commented on #115
@uxweb

Hi. Thanks for the clarification.

[code]
This doesnt work.

We do have

`        'Alert' => UxWeb\SweetAlert\SweetAlert::class,`

in our config/app.php and have been using Alert::message all these while.

I reverted back to 2.0.1 in the mean time.

Thanks for your hard work.

[2020-01-15 10:53] HazemAyyad opened #117 "i used use UxWeb\SweetAlert\SweetAlert;"

[2020-01-15 10:59] HazemAyyad opened #118 "not show sweetalert laravel5.8"
**i used use** UxWeb\SweetAlert\SweetAlert;
      SweetAlert::success('Success Message', 'Added Done ');
**i used in blade.php**
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
@include('sweet::alert')
 **i used in** // config/app.php
'providers' => [
    UxWeb\SweetAlert\SweetAlertServiceProvider::class,
];

'aliases' => [
    'Alert' => UxWeb\SweetAlert\SweetAlert::cl

[2020-01-15 11:00] #117 closed, assigned to nobody

[2020-01-22 08:09] tkaarlas commented on #118
Having the same issue with Laravel 6.
Only way I get this to work is if I use `alert()->message('Message', 'Optional Title');` **and also** session based `swal()` in my script section, which is yielded into main layout file.
For some reason in main layout file's script section the dynamic `swal()` doesn't do the job.

And Facade method triggers nothing. :/ (Plus, `@include('sweet::alert')` has to

[2020-01-22 20:06] seongbae commented on #106
Sweet. Thanks @thewebartisan7 !

[2020-01-29 03:24] FuriosoJack opened #119 "Toast SweetAlert2"
Please Add SweetAlert2

https://sweetalert2.github.io/

![image](https://user-images.githubusercontent.com/26976637/73325528-da777200-421c-11ea-9ec1-807602d00cea.png)

[2020-01-30 05:22] uxweb commented on #119
@FuriosoJack

SweetAlert2 is a different javascript library which has a different api. This package follows some features and conventions from https://sweetalert.js.org.

[2020-01-30 05:24] uxweb commented on #118
@tkaarlas @HazemAyyad

Looks like there's some bug related to the Facade. I'm digging into the code to find out the bug. All help is appreciated!

[2020-02-02 13:37] eng-ahmednasser commented on #70
this will help you
`<script>
    if (window.performance) {
     var navEntries = window.performance.getEntriesByType('navigation');
     if (navEntries.length > 0 && navEntries[0].type === 'back_forward') {
          console.log('As per API lv2, this page is load from back/forward');
     } else if (window.performance.navigation
          && window.performance.navigation.type == window.performance

[2020-02-02 13:38] eng-ahmednasser commented on #21
Try this
`<script>
    if (window.performance) {
     var navEntries = window.performance.getEntriesByType('navigation');
     if (navEntries.length > 0 && navEntries[0].type === 'back_forward') {
          console.log('As per API lv2, this page is load from back/forward');
     } else if (window.performance.navigation
          && window.performance.navigation.type == window.performance.navigatio

[2020-02-08 13:38] #119 closed, assigned to nobody

[2020-03-05 09:26] juliomotol commented on #118
Hi, Sharing some of my findings

### First Controller Action
    SweetAlert::error('Some error');

    dd(Session::get('sweet_alert')); // Displays the sweet alert config

    return redirect()->route('some-route');

### 'some-route' Controller action
    dd(Session::get('sweet_alert')); // Displays 'null'

The helper `alert()->error()` doesn't work for me either. Im running Laravel 6.x. There mig

[2020-03-12 15:25] juliomotol commented on #118
Hi, I found the problem with the facades. the `__destruct` method is not triggered.

https://github.com/uxweb/sweet-alert/blob/fb88b736c86131c18254216e79559f4d93e08ca6/src/SweetAlert/SweetAlertNotifier.php#L360-L363

I then tried placing the `$this->flashConfig()` inside `message()` method and it works as intended.

[2020-03-15 12:05] CreativeKashifQ commented on #91
sweatalert packeage is not working and not displaying any error message i have done everything but result is negative

[2020-03-18 11:44] limonte opened #120 "Consider using SweetAlert2 instead of SweetAlert"
I would like to propose migrating from SweetAlert to [SweetAlert2](https://github.com/sweetalert2/sweetalert2) - the supported fork of SweetAlert. The original reason for creating SweetAlert2 is the inactivity of SweetAlert: https://stackoverflow.com/a/27842854/1331425

### Reasons to switch:

1. More great features like toasts which were requested in #119

2. Accessibility (WAI-ARIA) - SweetAlert

[2020-03-21 17:45] uxweb commented on #120
Awesome, go ahead!

[2020-03-21 17:49] #95 closed, assigned to nobody

[2020-03-21 17:49] #93 closed, assigned to nobody

[2020-03-29 17:41] timgavin opened #121 "Install issue with Laravel 7"
I followed the installation instructions but I continue to receive the js error
[code]

### bootstrap.js
[code]

### app.js
[code]

### app.blade
[code]

Then I run `npm run prod`

The only way I can get it to work is if I use the CDN....

[code]

[2020-03-30 13:14] rabishmuel commented on #118
THANKS "juliomotol" ! **It's work for me !**
-> I add "$this->flashConfig();" into the public function "message ()"

 did you put "$this->flashConfig();" in the __destruct() or did you remove it?

[2020-03-30 14:14] juliomotol commented on #118
Neither, I was just trying to figure out what could have been the problem and tried hacking the code a bit. I'd suggest using the helper functions for now until this is fixed.

[2020-05-24 15:49] oluwatosinolamilekan opened #122 "No hint path defined for [sweetalert]"
![image](https://user-images.githubusercontent.com/29930457/82758437-7a659680-9dde-11ea-97f1-eb9704c34e4f.png)

[2020-07-02 08:58] prafful-panwar-ayur commented on #62
Icon not showing :(

[2020-07-04 00:15] FareedR opened #123 "alert() doesn't show when i use sweetAlert2"
is there any documentation to use sweetAlert2 instead of sweetAlert in this package ?
im stuck on this script.

`<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>`
`@include('sweet::alert')`

alert() doesnt appear when i use sweetAlert2
`alert()->message('Message', 'Optional Title');`

thank you for your package .

[2020-07-04 00:34] FareedR commented on #123
nevermind . i fixed the issues by append the script after `@include('sweet::alert')` . and it works perfectly .

`<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>`
`@include('sweet::alert')`
`<script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>`

[2020-07-04 00:34] #123 closed, assigned to nobody

[2020-07-13 15:52] chuysbz commented on #62
This is correct. But I had to change swal() function for swal.fire() because sweetalert2 exposes swal() as a class and I kept getting a console error "Cannot call a class as a function".

[2020-07-13 16:35] chuysbz commented on #121
In your bootstrap.js, try adding this to your try catch block:

const swal = require('sweetalert');

[2020-07-24 15:24] vahidalvandi opened #124 "how i can remove ok button"
hey
how i can remove ok button ??

[2020-07-28 15:16] pablo-gs opened #125 "multiple browsers"
Hello,
In my application there can be several users (on different computers) accessing the same page (GIS). I'm currently using SweetAlert to send a notification when a new alarm is received but only one of the connected users receives the notification.

Is it possible to send the same message to all users/browsers?

Thanks in advance

[2020-09-09 14:58] airliajsmith opened #126 "Disable for validaton?"
Is there a way to disable the alert for validation? Right now I get a popup for errors and then the form also shows the messages.

[2020-09-11 10:15] yousefyahya opened #129 "Laravel 8 Support"

[2020-09-11 19:53] shamimulalam commented on #129
I'm also waiting for laravel 8 support. Can you please speak out @uxweb . Otherwise, I've to remove this package from my project. Thanks in advance @uxweb :)

[2020-09-13 14:58] bumbummen99 commented on #129
~~My PR is working in my L8 project. If there are no plans to update i am going to keep it up to date as long as possible as some of my projects depend on it. You can find it here: [skyraptor/sweet-alert](https://github.com/bumbummen99/sweet-alert)~~

It is merged, please do change your temporary versions to uxweb/sweet-alert 2.0.5 👍

[2020-09-14 23:18] uxweb commented on #126
@airliajsmith

Yes, it is possible. If you are using the included middleware just disable it.

[2020-09-14 23:19] uxweb commented on #125
@pablo-gs

For doing that you may need broadcasting an event using some realtime service like pusher with socket io.

[2020-09-14 23:26] uxweb commented on #129
@yousefyahya @shamimulalam @bumbummen99

The PR is now integrated supporting Laravel 8.

Thank you guys.

[2020-09-14 23:26] #129 closed, assigned to nobody

[2020-09-15 12:42] airliajsmith commented on #126
Thank you!

[2020-09-15 12:42] #126 closed, assigned to nobody

[2020-10-19 06:11] hakimzulkufli opened #130 "Alert title and message blank when using redirect()->withErrors()"
**Description**

Alert title and message blank when using `redirect()-back()->withErrors($validator)`. Perhaps I am doing this wrong? I would like to skip the usage of Middleware if possible. See the image below:

![image](https://user-images.githubusercontent.com/42469039/96407883-f096e980-1214-11eb-9b95-c2cec9d7419c.png)

**Package Version**: 2.0.5
**Laravel Version**: 6.18.41

**Steps to Reprod

[2020-10-19 06:47] hakimzulkufli commented on #130
Upon inspection, I noticed that this empty popup will appear every time I use `withErrors()` even without calling `alert()`. This will also cause the blank popup:

[code]

[2020-11-16 20:20] airliajsmith opened #131 "Form submits twice when using with Vue modal."
I am using Sweetalert with a Vue modal. When I click Submit on the modal form, the alert pops up. That works fine.

However, if I accidentally click where the modal submit button was (you cannot see it because the Sweetalert window is open), it will submit the modal form twice.  It only occurs if I click too soon. Not sure if it's because the Sweetalert window hasn't fully loaded? I'm a bit click-

[2020-12-17 12:57] insomniac-uks commented on #115
im facing same problem, alert helper function works but facade doesnot work. im using laravel 8. Please any suggestion, why its behaving like this?

[2021-01-19 20:15] airliajsmith opened #132 "allowOutsideClick doesn't work."
Is this being monitored anymore? I hope so. It's a great option.

I have this in a vue component and the alert works, but the allowOutsideClick: false does not.

         swal(
                                {
                                    title: 'Attention!',
                                    text: 'That contact is already assigned to this customer!',

[2021-04-20 15:32] taebae9 opened #133 "when i click the button the sweet alert comes after refreshing or changing the page"
when I click the button the sweet alert comes after refreshing or changing the page it won't show right away what's the problem exactly

[2021-05-20 07:02] serwin35 opened #135 "SA and LiveWire how ?"
Hi, how can I force this component to run in livewire?

in layout/lay.blade.php i have @include

when i add
alert()->success(__("Add"))->autoclose(4500);

to function in livewire nothing happens

[2021-07-19 01:04] interludic commented on #130
I can confirm this is still an issue
L8 "uxweb/sweet-alert": "^2.0",

[2021-07-19 01:24] interludic commented on #130
Looks like this is abandoned so using https://github.com/realrashid/sweet-alert for the time being. it doesn't have the withErrors problem

[2021-07-25 00:04] msaifull commented on #115
use Auth;

Alert()->success('Message', 'Optional title');

[2021-07-25 00:07] uxweb commented on #115
@msaifull

It seems to be broken. I'm sorry, right I don't have the time to invest in this project, but you can send a pull request to fix it.

Thanks

[2021-07-25 00:12] uxweb commented on #115
@msaifull

The main problem is that time ago I added a `__destruct()` method in hope Laravel would call it and set the configuration on the session storage, but it seems Laravel is not calling this method.

Maybe the way to fix it is to call the `flashConfig()` method on each other method that mutates the configuration.

[2022-01-15 10:00] ibahas commented on #122
ME too !

[2022-02-11 13:35] masoudghadimi opened #137 "Laravel 9.0 Support"
Please can you add Laravel 9.0 support? Thanks.

[2022-02-16 14:16] dyaskur commented on #137
I did PR for Laravel 9 support 17 days ago:

https://github.com/uxweb/sweet-alert/pull/136

[2022-02-25 16:24] vahidalvandi commented on #137
please upgrade to L9

[2022-03-21 09:15] infowideservice commented on #122
Me too!

[2022-05-22 06:55] illeas commented on #122
Me too

[2022-06-02 11:12] Ha12jjjj commented on #122
me to in laravel 9

[2022-06-11 14:06] AlirezaMoghadam80 commented on #137
Please upgrade to Laravel9

[2022-07-15 11:31] #135 closed, assigned to nobody

[2022-08-21 03:24] edoardoagnelli1357 opened #140 "Big Problem with Laravel 9"
Hi
It dosent work with laravel 9.0.This is my Error
 Problem 1
    - illuminate/support[v5.6.0, ..., 5.8.x-dev] require php ^7.1.3 -> your php version (8.1.9) does not satisfy that requirement.
    - illuminate/support[v6.0.0, ..., v6.19.1] require php ^7.2 -> your php version (8.1.9) does not satisfy that requirement.
    - illuminate/support[v7.0.0, ..., v7.28.4] require php ^7.2.5 -> your php v

[2022-08-23 19:14] ho3in8520 commented on #137
Please upgrade to Laravel9

[2022-08-26 15:18] josefernandoperezgarcia1998 commented on #140
If you're using XAMPP you need open the control panel.
In the right side you have the option of "shell", make click in "shell" and write in the terminall
"cd htdocs"and inside of that project you make your laravel projecct with "Laravel new blog".

[2022-08-27 17:57] edoardoagnelli1357 commented on #140
No in the project I occur  the error that it says it s not compatible  with
Laravel 9.0
I do my project in Linux I don't use xampp .

On Fri, Aug 26, 2022 at 7:49 PM José Fernando ***@***.***>
wrote:

[2022-11-13 21:26] #120 closed, assigned to nobody